In [45]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('titanic_challenge.csv')

In [3]:
df.shape

(891, 12)

In [5]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
df.Age.mean()

29.69911764705882

In [14]:
df[df['Sex']=='male'].Age.mean()

30.72664459161148

In [16]:
df['Fare'].corr(df['Survived'])

0.2573065223849625

In [22]:
females = df[df['Sex']=='female']
females['Survived'].value_counts()/len(females)

1    0.742038
0    0.257962
Name: Survived, dtype: float64

In [24]:
df[df['Pclass']==2]['Survived'].value_counts()

0    97
1    87
Name: Survived, dtype: int64

In [29]:
df.groupby('Pclass').Fare.median()

Pclass
1    60.2875
2    14.2500
3     8.0500
Name: Fare, dtype: float64

In [35]:
df['Cabin'].isnull().sum()/len(df)

0.7710437710437711

In [36]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [39]:
df['Fare'].quantile(0.95)

112.07915

In [44]:
df[df['Fare']>250].shape

(9, 12)

In [48]:
df['Fare'].mean(),df['Fare'].median(),df['Fare'].mode()

(32.204207968574636, 14.4542, 0    8.05
 dtype: float64)